.app_launcher {
  background-color: $bg;
  border-right: solid $bg2 1px;
  padding: 8px;
  min-width: 300px;

  & .header {
    & .title {
      font-size: 20px;
      font-weight: 900;
    }
  }

  & .input_container {
    & .input {
      border: solid $bg2 1px;
      border-radius: 8px;
      font-size: 18px;
      padding: 0 8px;
    }

    & label {
      font-size: 18px;
      color: $gray;
      padding-left: 8px;
    }
  }
}
