$bgh:       #1d2021;
$bg:        #282828;
$bg1:       #3c3836;
$bg2:       #504945;

$fgh:       #fbf1c7;
$fg:        #ebdbb2;
$fg1:       #d5c4a1;
$fg2:       #bdae93;

$red:       #cc241d;
$green:     #98971a;
$yellow:    #d79921;
$orange:    #d65d0e;
$blue:      #458588;
$purple:    #b16286;
$aqua:      #689d6a;
$gray:      #928374;

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  color: $fg;
}

@import "./windows/bar/style.scss";
@import "./windows/notifications/style.scss";
