<<<<<<< Updated upstream
$bgh:       #2E3440;
$bg:        #3B4252;
$bg1:       #434C5E;
$bg2:       #4C566A;

$fgh:       #ECEFF4;
$fg:        #E5E9F0;
$fg1:       #D8DEE9;
$fg2:       #BFC6D1;
=======
$bgh:       #1d2021;
$bg:        #282828;
$bg1:       #3c3836;
$bg2:       #504945;
$bg3:       #665c54;

$fgh:       #fbf1c7;
$fg:        #ebdbb2;
$fg1:       #d5c4a1;
$fg2:       #bdae93;
$fg3:       #bdae93;
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes

$red:       #BF616A;
$green:     #A3BE8C;
$yellow:    #EBCB8B;
$orange:    #D08770;
$blue:      #81A1C1;
$purple:    #B48EAD;
$aqua:      #88C0D0;
$gray:      #616E88;

* {
  all: unset;
    font-family: "JetBrainsMono Nerd Font";
  color: $fg;
}

@import "./windows/bar/style.scss";
