* {
  all: unset;
  font-family: "CaskaydiaCove Nerd Font Mono";
  font-weight: 900;
  color: #212121;
}

.music {
  background-color: #ECECEC;
  padding: 1rem;
}
.music .thumbnail {
  background-size: cover;
  min-width: 150px;
  min-height: 150px;
}
.music .meta .name {
  font-size: 14px;
}
.music .controls .control {
  border-radius: 8px;
  font-size: 16px;
  padding: 0 8px;
}
