* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
}

.container {
  padding: 1rem;
  background-color: #282828;
  border: solid #1d2021 1px;
}

.line {
  background-color: #282828;
  font-size: 14px;
  font-weight: 200;
  color: #bdae93;
}
.line .divider {
  color: #ebdbb2;
}
.line .left .window_state {
  color: #282828;
}
.line .left .window_state label {
  padding: 0 1rem;
}
.line .left .window_state .tiling {
  background-color: #98971a;
}
.line .left .window_state .floating {
  background-color: #458588;
}
.line .right .random_button {
  padding-right: 2px;
}
.line .right .battery .icon {
  padding-right: 5px;
}
.line .right .battery .percent {
  font-size: 12px;
  color: #fbf1c7;
  padding-left: 4px;
}
.line .right .battery .applauncher_input {
  background-color: #282828;
  font-size: 14px;
  color: #bdae93;
}
.line .right .sections {
  margin-left: 8px;
}
.line .right .sections .time_indicator {
  background-color: #3c3836;
  color: #ebdbb2;
  padding: 0 1rem;
}
.line .right .sections .mode_indicator label {
  color: #282828;
  padding: 0 1rem;
}
.line .right .sections .mode_indicator .workspace {
  background-color: #d65d0e;
  padding: 0 2rem;
}
.line .right .sections .mode_indicator .applauncher {
  background-color: #458588;
}
.line .right .sections .mode_indicator .commandlauncher {
  background-color: #cc241d;
  color: #bdae93;
}

.apps, .commands {
  padding: 4px;
  background-color: #3c3836;
  font-weight: 900;
  color: #ebdbb2;
}
.apps .app, .apps .command, .commands .app, .commands .command {
  padding: 0 4px;
}
.apps .app.selected, .apps .command.selected, .commands .app.selected, .commands .command.selected {
  background-color: #458588;
}
.apps .app:hover, .apps .command:hover, .commands .app:hover, .commands .command:hover {
  background-color: #928374;
}

.sidebar {
  background-color: #282828;
  border-right: solid #1d2021 2px;
  border-bottom: solid #1d2021 2px;
  font-weight: 400;
  font-size: 14px;
  color: #bdae93;
}
.sidebar .header {
  background-color: #504945;
  color: #fbf1c7;
}
.sidebar .path {
  padding-left: 5px;
  color: #b16286;
}
.sidebar .tree {
  padding: 0 2.5rem 0 1rem;
}
.sidebar .tree .tree_item .dir .down {
  color: #fbf1c7;
  font-weight: 900;
  padding-right: 6px;
}
.sidebar .tree .tree_item .dir .text {
  color: #458588;
}
.sidebar .tree .tree_item .music_controls {
  font-size: 20px;
}
.sidebar .tree .tree_item .music_controls button {
  padding: 0 2px;
}
.sidebar .tree .tree_item progressbar {
  margin-bottom: 8px;
}
.sidebar .tree .tree_item progressbar trough progress {
  min-width: 5px;
  min-height: 12px;
  background-color: #bdae93;
}
.sidebar .tree .tree_item scale {
  margin-bottom: 1px;
}
.sidebar .tree .tree_item scale trough {
  min-height: 12px;
}
.sidebar .tree .tree_item scale highlight {
  background-color: #bdae93;
}
.sidebar .calendar {
  margin: 1rem;
}
.sidebar .calendar .time {
  font-size: 32px;
  font-weight: 600;
}
.sidebar .calendar .day {
  color: #928374;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
}

.wallpapers {
  background-color: #282828;
  font-size: 14px;
  color: #ebdbb2;
}
.wallpapers .list {
  border: solid #ebdbb2 1.5px;
  min-width: 300px;
  padding: 1rem;
}
.wallpapers .list .file.selected {
  color: #98971a;
}
.wallpapers .input_container {
  border: solid #ebdbb2 1.5px;
  padding: 2px 4px;
}
.wallpapers .input_container .indicator {
  color: #fbf1c7;
  font-weight: 900;
}
.wallpapers .preview {
  border: solid #ebdbb2 1.5px;
  min-width: 400px;
  min-height: 300px;
}
.wallpapers .preview .image {
  background-size: cover;
}
