.app_launcher {
  min-width: 300px;
  min-height: 400px;

  & .query_box {
    & .query_container {
      & .query {
        border-top: solid $bg2 1px;
        font-size: 17px;
        padding: 8px 8px;
        caret-color: $bg;
      }
    }

    & .placeholder {
      font-size: 17px;
      font-weight: 100;
      padding: 8px 10px;
      color: $bg2;
    }
  }

  /* & .category_selector { */
  /*   padding: 1rem; */
  /* } */

  & .applications {
    & .application {
      padding: 8px;

      & .icon { font-size: 22px; }
      & .name { font-size: 16px; }

      &.selected,
      &:hover {
        background-color: $fg1;
      }
    }
  }
}
