.menu {
  background-color: $bg1;
  border-radius: 8px;
  border: solid $gray 1px;
  margin: 0 0 8px 8px;

  &.audio_controls_menu {
    min-height: 200px;
    padding: 1rem;

    & .slider_container {
      & .slider {
        & trough {
          background-color: $bg2;
          border-radius: 8px;
        }

        & highlight {
          border-radius: 8px;
          min-width: 10px;
        }
      }

      &.global_vol {
        padding-right: 2px;

        & .slider highlight { background-color: $blue; }
        & .slider.mute highlight { background-color: $gray; }

        & .icon {
          font-size: 15px;
          padding-right: 4px;
        }
      }

      &.music_vol {
        padding-right: 4px;

        & .slider highlight {
          background-color: $aqua;
        }

        & .icon {
          font-size: 16px;
        }
      }

      &.mic_vol {
        padding-right: 4px;

        & .slider highlight { background-color: $green; }
        & .slider.mute highlight { background-color: $gray; }

        & .icon {
          font-size: 16px;
        }
      }
    }
  }

  &.system_controls_menu {
    min-height: 200px;
    padding: 1rem;

    & .slider_container {
      & .slider {
        & trough {
          background-color: $bg2;
          border-radius: 8px;
        }

        & highlight {
          border-radius: 8px;
          min-width: 10px;
        }
      }

      &.brightness {
        & .slider highlight {
          background-color: $fg;
        }

        & .icon {
          font-size: 15px;
          padding-right: 6px;
        }
      }
    }
  }

  &.battery_menu {
    min-width: 250px;
    min-height: 150px;

    & .battery_percentage {
      padding: 1rem 2rem 0 2rem;

      & .icon {
        font-size: 64px;
        padding-top: 8px;

        &.discharging { padding-right: 12px; }
        &.charging { padding-right: 24px; }
      }

      & .percentage {
        font-size: 64px;
      }
    }

    & .battery_info {
      padding: 0 2rem 2rem 2rem;

      & .state {
        font-size: 28px;

        &.charging { color: $green; }
      }

      & .time_to_full,
      & .time_to_empty {
        font-size: 16px;
      }
    }

    & .divider {
      background-color: $gray;
      min-height: 2px;
      margin: 1rem 0;
    }
  }

  &.calendar_menu {
    & calendar {
      padding: 0.3rem 0.5rem;

      & .today {
        color: #000;
      }

      & button {
        color: $orange;
      }
    }
  }
}
