.desktop_clock {
  font-family: "JetBrainsMono Nerd Font";
  color: $fg2;

  & .container {
    padding: 0 0 2rem 2.5rem;

    & .time {
      font-size: 48px;
      font-weight: 900;
    }

    & .date {
      font-size: 38px;
      font-weight: 900;
    }
  }
}
