$bgh: #0d0d0d;
$bg: #161616;
$bg1: #1a1a1a;
$bg2: #262626;

$fgh: #ffffff;
$fg: #ffffff;
$fg1: #d9d9d9;
$fg2: #bfbfbf;

$red: #cc241d;
$green: #98971a;
$yellow: #d79921;
$orange: #d65d0e;
$blue: #458588;
$purple: #b16286;
$aqua: #689d6a;
$gray: #928374;
