* { all: unset; }

@import "./colors.scss";

.box {
  background-color: $bg;
  border: solid $bgh 1px;
  padding: 1rem;
}

.inner_box {
  background-color: $bg1;
  border: solid $bgh 1px;
  margin: 0.5rem;
}

@import "./widgets/style.scss";
@import "./desktop_clock/style.scss";
@import "./bar/style.scss";
@import "./sidebar/style.scss";
@import "./notification/style.scss";
@import "./network/style.scss";
@import "./logout/style.scss";
@import "./prompts/style.scss";
