$bgh:       #2E3440;
$bg:        #3B4252;
$bg1:       #434C5E;
$bg2:       #4C566A;

$fgh:       #ECEFF4;
$fg:        #E5E9F0;
$fg1:       #D8DEE9;
$fg2:       #BFC6D1;

$red:       #BF616A;
$green:     #A3BE8C;
$yellow:    #EBCB8B;
$orange:    #D08770;
$blue:      #81A1C1;
$purple:    #B48EAD;
$aqua:      #88C0D0;
$gray:      #616E88;

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  color: $fg;
}

.systray_menu {
  background-color: $bg;
  border-radius: 8px;
  /* padding: 12px; */

  & menuitem {
    border-radius: 4px;
    /* padding: 4px 8px; */
    color: #000;

    &:hover {
      background-color: $bg2;
    }
  }
}

@import "./windows/bar/styles.scss";
@import "./windows/notificationPopups/styles.scss";
