.weather {
  min-width: 300px;
  margin-top: 215px;

  & .content {
    padding: 1rem;

    & .weather_icon { font-size: 50px; }
    & .temp_container {
      & .temp {
        font-size: 48px;
        font-weight: 900;
        margin-top: 4px;
      }

      & .unit {
        font-size: 20px;
        margin-top: 8px;
        font-weight: 900;
      }
    }

    & .details {
      & .title {
        font-size: 26px;
        font-weight: 700;
      }

      & .time,
      & .readable_weather {
        font-size: 18px;
        font-weight: 300;
      }
    }

    & .etc {
      font-size: 14px;
      font-weight: 500;
    }

    & .graph {
      margin-top: 12px;

      & .bar {
        background-color: $bg;
        min-width: 12px;
      }
    }
  }
}
