.line {
  background-color: $bg;
  font-size: 14px;
  font-weight: 200;
  color: $fg2;


  & .divider {
    color: $fg;
  }

  & .left {
    & .window_state {
      & label { padding: 0 1rem; }
      & .tiling { background-color: $green; }
      & .floating { background-color: $blue; }

      color: $bg;
    }
  }

  & .right {
    & .random_button {
      padding-right: 2px;
    }

    & .battery {
      & .icon {
        padding-right: 5px;
      }

      & .percent {
        font-size: 12px;
        padding-left: 2px;
      }

      & .applauncher_input {
        background-color: $bg;
        font-size: 14px;
        color: $fg2;
      }
    }

    & .sections {
      margin-left: 8px;

      & .time_indicator {
        background-color: $bg1;
        color: $fg;
        padding: 0 1rem;
      }

      & .mode_indicator {
        & label {
          color: $bg;
          padding: 0 1rem;
        }

        & .workspace {
          background-color: $orange;
          padding: 0 2rem;
        }

        & .applauncher {
          background-color: $blue;
        }

        & .commandlauncher {
          background-color: $red;
          color: $fg2;
        }
      }
    }
  }
}

.apps, .commands {
  padding: 4px;
  background-color: $bg1;
  font-weight: 900;
  color: $fg;

  & .app, & .command {
    padding: 0 4px;

    &.selected { background-color: $blue; }
    &:hover { background-color: $gray; }
  }
}
