.line {
  background-color: $bg;
  font-size: 14px;
  font-weight: 200;
  color: $fg2;


  & .divider {
    color: $fg;
  }

  & .left {
    & .window_state {
      &.tiling { background-color: $green; }
      &.floating { background-color: $blue; }

      color: $bg;
      padding: 0 1rem;
    }
  }

  & .right {
    & .network_button {
      padding-right: 2px;
    }

    & .battery {
      & .icon {
        padding-right: 5px;
      }

      & .percent {
        font-size: 12px;
        color: $fgh;
        padding-left: 4px;
      }
    }

    & .notification_button {
      padding-right: 2px;
    }

    & .sections {
      margin-left: 8px;

      & .time_indicator {
        background-color: $bg1;
        color: $fg;
        padding: 0 1rem;
      }

      & .mode_indicator {
        & label {
          color: $bg;
          padding: 0 1rem;
        }

        & .workspace { background-color: $orange; }
        & .applauncher { background-color: $blue; }
        & .commands { background-color: $aqua; }
      }
    }
  }

  & .app_launcher_input {
    background-color: $bg;
    font-size: 14px;
    color: $fg2;

    & .input {
      font-size: 12px;
      font-weight: 700;
    }
  }
}

.apps {
  .list {
    padding: 4px;
    background-color: $bg1;
    font-weight: 900;
    color: $fg;

    & .app {
      padding: 0 4px;

      &.selected { background-color: $blue; }
      &:hover { background-color: $gray; }
    }
  }
}
