.sidebar_home {
  background-color: $bg;
  border-right: solid $gray 1px;
  padding: 8px;
  min-width: 300px;

  & .user_box {
    background-color: $bg1;
    border-radius: 8px;
    padding: 8px;

    & .face {
      background-size: cover;
      border: solid $bgh 0.5px;
      border-radius: 999px;
      min-width: 54px;
      min-height: 54px;
    }

    & .details {
      & .username {
        font-weight: 900;
        font-size: 16px;
        color: $fgh;
      }

      & .wm {
        font-weight: 900;
        font-size: 10px;
        letter-spacing: 2px;
        color: $yellow;
      }
    }

    & .power_button {
      background-color: $bgh;
      border-radius: 999px;
      font-size: 24px;
      padding: 4px 13px;

      & label {
        color: $red;
        padding-right: 1px;
      }
    }

    .power_menu {
      background-color: $bg2;
      border-radius: 8px;
      padding: 1rem;

      & .close {
        border: solid $red 2px;
      }
    }
  }

  & .desktop_controls {
    border-radius: 8px;
    margin-top: 10px;
    padding: 8px;

    & .buttons {
      & .icon {
        background-color: $bg1;
        border-radius: 999px;
        font-size: 32px;
        padding: 1rem;

        &.inactive { color: $fg2; }
      }

      & .name {
        color: $gray;
        font-weight: 700;
        font-size: 11px;
      }
    }

    & .sliders {
      & .icon {
        font-size: 20px;
      }

      & scale {
        & trough {
          background-color: $bg2;
          border-radius: 8px;
        }

        & highlight {
          background-color: $blue;
          border-radius: 8px;
          min-height: 16px;
        }
      }
    }
  }

  & .music_player {
    background-color: $bg1;
    border-radius: 8px;
    padding: 8px;

    & .cover {
      background-size: cover;
      border-radius: 8px;
      min-width: 150px;
      min-height: 150px;
    }

    & .right {
      padding: 0.8rem 0;

      & .meta {
        & .title {
          font-size: 20px;
          font-weight: 900;
        }

        & .artist {
          font-weight: 900;
        }
      }

      & .controls {
        & .control {
          border-radius: 8px;
          font-size: 24px;
          padding: 0 8px;
        }
      }

      & .position {
        margin-top: 4px;

        & .progress {
          min-width: 20px;

          & trough {
            background-color: $bg2;
            border-radius: 8px;

            & progress {
              background-color: $fg;
              border-radius: 8px;
            }
          }
        }

        & .meta {
          font-size: 10px;

          & .current_progress, & .length {
            color: $gray;
          }
        }
      }
    }
  }

  & .notification_center {
    background-color: $bg1;
    border-radius: 8px;
    margin-top: 1rem;
    padding: 8px;

    & .header {
      & .title {
        font-size: 16px;
        font-weight: 900;
      }

      & .clear_notifications {
        border-radius: 999px;
        font-size: 24px;
        font-weight: 900;
        padding: 3px 11px 3px 9px;

        &:hover {
          & label {
            color: $gray;
          }
        }
      }
    }

    & .notifications {
      & .notification {
        background-color: $bg2;
        border-radius: 8px;
        padding: 8px;

        & .image {
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 8px;
          min-width: 80px;
          min-height: 80px;
        }

        & .meta {
          padding: 4px 0;

          & .appname {
            letter-spacing: 2px;
            font-weight: 900;
            font-size: 9px;
          }

          & .summary {
            color: $gray;
          }
        }
      }
    }

    & .no_notification {
      margin-top: 3rem;

      & .icon {
        font-size: 84px;
        color: $gray;
        padding-right: 12px;
      }

      & .text {
        font-size: 24px;
        margin-top: 1rem;
        color: $gray;
      }
    }

    & .dismiss_notification {
      padding-right: 4px;

      & label {
        font-size: 14px;
      }
    }
  }
}
