.sidebar {
  background-color: $bg;
  border-right: solid $gray 2px;
  border-bottom: solid $gray 2px;
  color: $fg2;
  font-size: 14px;

  & .header {
    background-color: $bg2;
    font-weight: 700;
  }

  & .path {
    padding-left: 8px;
    color: $purple;
    font-weight: 700;
  }

  & .tree {
    padding: 0 1rem 0 1.5rem;

    & .tree_item {
      & .dir {
        & .down {
          color: $fgh;
          font-weight: 900;
          padding-right: 6px;
        }

        & .text {
          color: $blue;
        }
      }

      & .music_controls {
        font-size: 20px;

        & button {
          padding: 0 2px;
        }
      }

      & progressbar {
        margin-bottom: 8px;

        & trough {
          & progress {
            min-width: 5px;
            min-height: 12px;
            background-color: $fg2;
          }
        }
      }

      & scale {
        margin-bottom: 1px;

        & trough {
          min-height: 12px;
        }

        & highlight {
          background-color: $fg2;
        }
      }
    }
  }

  & .calendar {
    margin: 1rem;

    & .time {
      font-size: 32px;
      font-weight: 600;
    }

    & .day {
      color: $gray;
      font-size: 24px;
      font-weight: 900;
      letter-spacing: 5px;
    }
  }
}
