.notification_popups {
  padding: 8px;

  & .notification {
    background-color: $bg1;
    min-width: 400px;
    padding: 12px;

    & .icon {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      min-width: 60px;
      min-height: 60px;
    }
  }

  & .meta {
    & .appname {
      letter-spacing: 2px;
      font-weight: 900;
      font-size: 9px;
      color: $main;
    }

    & .summary {
      color: $gray;
    }
  }
}
