.wallpapers {
  background-color: $bg;
  border-right: solid $gray 1px;
  padding: 8px;
  min-width: 300px;

  & .list {
    & .wallpaper {
      & .img_container {
        min-height: 200px;
      }

      & .img {
        border-radius: 8px;
        font-size: 450px;
      }
    }
  }
}
