.logout {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 10px;
  color: $fg;

  .inner_box { margin: 4px; }

  .exit {
    padding: 0.4rem 1.2rem;
    font-size: 18px;

    &:hover {
      background-color: $bgh;
    }
  }

  .controls {
    padding: 1rem 0.5rem;

    & .metric {
      & trough { min-width: 15px; }

      & .icon {
        font-size: 20px;

        &.brightness { padding-left: 5px; }
        &.volume { padding-left: 8px; }
      }
    }
  }

  & .stats {
    padding: 1rem;

    & label {
      color: $fg;
      font-weight: 900;
    }

    & circular-progress { background-color: $bg2; }
    & .cpu { color: $orange; }
    & .ram { color: $purple; }
    & .cpu_temp { color: $blue; }
    & .disk { color: $green; }
  }

  .sites {
    padding: 0.3rem;

    .site {
      font-size: 32px;
      padding-right: 8px;

      &:hover { color: $gray; }
    }
  }

  & .time {
    padding: 1rem 4rem;
  }

  .me {
    padding: 10px;

    & .face {
      border-radius: 999px;
      background-size: cover;
      border: solid $bgh 0.6px;
    }

    & .message {
      font-weight: 900;
      font-size: 18px;
      color: $green;
    }

    & .uptime {
      color: $gray;
    }
  }

  & .action_button {
    font-size: 32px;
    padding: 0.5rem 2rem;

    &:hover {
      background-color: $bgh;
    }
  }
}
