.sidebar {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 10px;
  color: $fg;
  font-weight: 700;

  & .container {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 1rem 1rem 1rem 1rem;
  }

  & .inner_box { border-width: 1px; }

  & .calendar {
    font-size: 32px;
    padding: 1rem;

    & .icon { color: $blue; font-size: 34px; padding-right: 1rem; }
    & .date { color: $orange; }
    & .month { color: $green; }
  }

  & .weather {
    padding: 1rem;

    & .icon {
      font-size: 50px;
    }

    & .temp {
      font-size: 18px;
    }

    & .status {
      color: $yellow;
      font-size: 24px;
      font-weight: 900;
      text-decoration: underline;
    }
  }

  & .desktop-controls {
    padding: 1rem;
  }

  & .system-controls {
    & .icon {
      &.shutdown { color: $red; }
      &.reboot { color: $blue; }
      &.suspend { color: $aqua; }
      &.logout { color: $orange; }

      padding: 0 1.5rem 0 1rem;
      font-size: 28px;
    }
  }
}
