.calendar {
  & .month_year { font-size: 14px; }
  & .control { font-size: 16px; }

  & .not_incurrent {
    color: $gray;
  }

  & .today {
    background-color: $primary;
    color: $bg;
    border-radius: 8px;
  }

  & .divider {
    background-color: $gray;
    min-height: 1px;
  }
}
