.notification {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 10px;
  font-weight: 900;
  color: $fg;

  & .container {
    background-color: $bg;
    border: solid $bgh 2px;
    border-radius: 12px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 1rem;
  }

  & .card {
    background-color: $bg1;
    border-radius: 8px;
    border: solid $bgh 2px;
  }

  & .header {
    & .notif-title {
      font-size: 14px;
    }

    & .clear-all {
      font-size: 24px;
      padding-right: 1rem;

      &:hover {
        color: $gray;
      }
    }
  }

  & .notifs {
    margin-top: 1rem;

    & .thumb {
      border-radius: 8px;
      background-size: cover;
    }

    & .notif {
      padding: 1rem;

      & .meta {
        & .title {
          color: $orange;
        }

        & .body {
          font-size: 12px;
        }
      }

      & .x {
        font-size: 16px;
        padding-right: 8px;

        &:hover {
          color: $blue;
        }
      }
    }
  }

  & .no_notif {
    color: $gray;
    margin-bottom: 2rem;

    & .icon {
      font-size: 64px;
      padding-right: 3rem;
    }

    & .text {
      font-size: 16px;
    }
  }

  & .apps {
    & .app {
      font-size: 24px;

      &.terminal { color: $fgh; }
      &.firefox { color: $orange; }
      &.discord { color: $blue; }
      &.spotify { color: $green; }
      &.folder { color: $aqua; }
      &.htop { color: $purple; }

      &:hover { color: $fg; }
    }
  }
}
