@mixin section {
  background-color: $bg1;
  border-radius: 8px;
  padding: 4px 8px;
}

@mixin button {
  &:hover {
    background-color: $bg2;
  }
}

@mixin control_button {
  &:hover label {
    color: $fg2;
  }
}

.systray_menu {
  background-color: $bg;
  border-radius: 8px;
  /* padding: 12px; */

  & menuitem {
    border-radius: 4px;
    /* padding: 4px 8px; */
    color: #000;

    &:hover {
      background-color: $bg2;
    }
  }
}

.bar {
  background-color: $bg;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  & .divider {
    background-color: $bg1;
    min-height: 2px;
    margin: 2px 0;
  }

  & .sections {
    padding: 8px 4px;

    & .start {
      & .sidebar_button {
        & box {
          background-size: cover;
          border-radius: 999px;
          min-width: 32px;
          min-height: 32px;
        }
      }

      & .search_button {
        @include section;
        @include button;

        &.active {
          background-color: $gray;
        }

        & label {
          font-size: 18px;
          padding-right: 4px;
        }
      }

      & .wallpaper_button {
        @include section;
        @include button;

        &.active {
          background-color: $gray;
        }

        & label {
          font-size: 20px;
          padding-right: 6px;
        }
      }

      & .themes_button {
        @include section;
        @include button;

        &.active {
          background-color: $gray;
        }

        & label {
          font-size: 20px;
          padding-right: 6px;
        }
      }

      & .systray {
        & .apps {
          margin-top: 8px;
        }

        & .button {
          font-size: 21px;
        }
      }
    }

    & .center {
      & .workspace {
        @include section;
        padding: 1rem 0;

        & .button {
          background-color: $fg;
          border-radius: 8px;
          min-width: 10px;
          min-height: 24px;
          transition: all 300ms cubic-bezier(1, 0, 0, 1);

          &.active { min-height: 42px; }
          &:hover { background-color: $fg2; }
        }
      }
    }

    & .end {
      & .desktop_controls {
        @include section;

        & .music,
        & .audio,
        & .system,
        & .battery,
        & .screenshot {
          @include control_button;

          font-size: 20px;
          padding-right: 2px;
        }

        & .battery { font-size: 21px; }
        & .battery.discharging { padding-left: 3px; }


        & .system { padding-right: 4px; }
        & .screenshot { padding-right: 6px; }
      }

      & .time {
        @include section;
        @include button;

        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

@import "./menu/styles.scss";
@import "./sidebar/styles.scss";
