.bar {
  background-color: rgba($bg, 0.8);

  .workspaces {
    .workspace {
      min-width: 30px;
      background-color: rgba($bgh, 0.5);

      &.active {
        background-color: rgba($blue, 0.8);

        & label { color: $bg; }
      }
    }
  }

  .systray {
    padding: 0 5px;
  }

  .power_menu {
    background-color: rgba($bgh, 0.8);
    font-size: 18px;
    padding-right: 3px;
    font-weight: 900;
    padding: 0 10px;

    label { color: $red; }
  }
}

// Systray Menu
menu {
  background-color: $bg;
  border: solid 0.1px $fg;
  padding: 8px;

  menuitem {
    padding: 4px;

    &:hover {
      background-color: $bg2;
      color: $bg;
    }
  }
}
