.themes {
  background-color: $bg;
  border-right: solid $border 1px;
  padding: 8px;
  min-width: 300px;

  & .name {
    font-size: 48px;
    font-weight: 900;
  }

  & .list {
    & .theme {
      border: solid $fg 1px;
      border-radius: 8px;
      padding: 1rem;

      & .name {
        font-size: 32px;
        font-weight: 900;
        text-decoration: underline;
      }

      & .colors {
        & .color {
          min-width: 50px;
          min-height: 60px;

          border-radius: 8px;
        }
      }

      & .apply_theme_button {
        font-size: 16px;
        font-weight: 900;
        padding: 12px;
        border-radius: 8px;
      }
    }
  }
}
