.vim_bar {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 14px;
  font-weight: 900;
  color: $fg2;
  font-weight: 400;

  & .container {
    background-color: $bg2;
    // margin-bottom: 1rem;
    // margin-left: 1.5rem;
    // margin-right: 1.5rem;
  }

  & .highlight {
    background-color: $fg2;
    padding: 0 1rem;
    color: $bgh;
  }

  & .divider {
    color: $fg;
    font-weight: 900;
    margin: 0 4px;
  }

  & .highlight_low {
    background-color: $bg1;
    padding: 0 1rem;
    color: $fgh;
  }

  & .left {
    & .window_state {
      &.tiling { background-color: $fg2; }
      &.floating { background-color: $orange; }
    }

    & .workspace_icon {
      padding-right: 4px;
      font-size: 12px;
      font-weight: 900;
    }
  }

  & .right {
    & .menu {
      margin-right: 8px;

      & .network_btn { padding-right: 4px; margin-right: 6px; }
      & .notif_btn { padding-right: 2px; }
    }
  }
}
