// kanagawa

$bgh:       #1F1F28;
$bg:        #1F1F28;
$bg1:       #252535;
$bg2:       #34344b;

$fgh:       #DCD7BA;
$fg:        #DCD7BA;
$fg1:       #DCD7BA;
$fg2:       #C8C093;

$red:       #C34043;
$green:     #76946A;
$yellow:    #C0A36E;
$orange:    #E82424;
$blue:      #7E9CD8;
$purple:    #957FB8;
$aqua:      #6A9589;
$gray:      #727169;

$primary: $blue;
$secondary: $green;
$border: $blue;

.bar {
  border-right: solid $border 1.5px;

  & .sections {
    & .center {
      & .workspace {
        & .button {
          &.active {
            background-color: $primary;
          }
        }
      }
    }
  }
}

.sidebar_home {
  & .music_player {
    & .right {
      & .meta {
        & .artist {
          color: $primary;
        }
      }
    }
  }

  & .notification_center {
    & .notifications {
      & .notification {
        & .meta {
          & .appname {
            color: $primary;
          }
        }
      }
    }
  }
}
