// nord

$bgh:       #2E3440;
$bg:        #3B4252;
$bg1:       #434C5E;
$bg2:       #4C566A;

$fgh:       #ECEFF4;
$fg:        #E5E9F0;
$fg1:       #D8DEE9;
$fg2:       #BFC6D1;

$red:       #BF616A;
$green:     #A3BE8C;
$yellow:    #EBCB8B;
$orange:    #D08770;
$blue:      #81A1C1;
$purple:    #B48EAD;
$aqua:      #88C0D0;
$gray:      #616E88;

.bar {
  border-right: solid $blue 1px;

  & .sections {
    & .center {
      & .workspace {
        & .button {
          &.active {
            background-color: $blue;
          }
        }
      }
    }
  }
}

.sidebar_home {
  & .music_player {
    & .right {
      & .meta {
        & .artist {
          color: $blue;
        }
      }
    }
  }

  & .notification_center {
    & .notifications {
      & .notification {
        & .meta {
          & .appname {
            color: $blue;
          }
        }
      }
    }
  }
}
