// oxocarbon

$bgh:       #282828;
$bg:        #1c1b1d;
$bg1:       #2a292e;
$bg2:       #3e3b44;

$fgh:       #e6e6e6;
$fg:        #cccccc;
$fg1:       #b3b3b3;
$fg2:       #999999;

$red:       #e72b2b;
$green:     #99b035;
$yellow:    #d0a929;
$orange:    #c85d1f;
$blue:      #6f8b99;
$purple:    #FF7EB6;
$aqua:      #4c9f8d;
$gray:      #737373;

.bar {
  border-right: solid $fg 1px;

  & .sections {
    & .center {
      & .workspace {
        & .button {
          &.active {
            background-color: $purple;
          }
        }
      }
    }
  }
}
