// oxocarbon

$bgh:       #0d0c0d;
$bg:        #1c1b1d;
$bg1:       #262528;
$bg2:       #333135;

$fgh:       #e6e6e6;
$fg:        #cccccc;
$fg1:       #b3b3b3;
$fg2:       #999999;

$red:       #ec5395;
$green:     #42be65;
$yellow:    #d9b53f;
$orange:    #e07638;
$blue:      #30a7f2;
$purple:    #ff7eb6;
$aqua:      #36c3c1;
$gray:      #736e77;

.bar {
  border-right: solid $fg 1px;

  & .sections {
    & .center {
      & .workspace {
        & .button {
          &.active {
            background-color: $purple;
          }
        }
      }
    }
  }
}

.sidebar_home {
  & .music_player {
    & .right {
      & .meta {
        & .artist {
          color: $purple;
        }
      }
    }
  }

  & .notification_center {
    & .notifications {
      & .notification {
        & .meta {
          & .appname {
            color: $purple;
          }
        }
      }
    }
  }
}
