.side_bar {
  background-color: $bg;

  & .bun {
    background-size: cover;
    background-position: center;
    min-width: 24px;
    min-height: 18px;
    margin: 8px 10px;
  }

  & .buttons {
    & .active {
      & icon { color: #fff; }
      & label { color: #fff; }
    }

    & button { font-size: 24px; }
    & button.wallpaper { font-size: 28px; }
    & button.music { font-size: 28px; }
    & button.weather { font-size: 28px; }
    & button.code { font-size: 32px; }
    & button.browser { font-size: 25px; }
    & button.controls { font-size: 28px; }

    & label {
      font-size: 12px;
      color: $fg2;
    }
  }
}
