.music-player {
  padding: 0.5rem 1rem;

  & .thumbnail {
    background-color: $bg;
    border-radius: 8px;
    background-size: cover;
    margin: 1rem 0;
  }

  & .player {
    &.horizontal { padding: 1rem 0; }
    &.vertical { padding-bottom: 1rem; }

    & .meta {
      & .name { font-size: 24px; }
      & .album, & .artist { font-size: 12px; color: $yellow; }
    }

    & .controls {
      font-size: 32px;
      padding: 0 0.5rem;

      & .prev, & .play, & .next {
        border-radius: 12px;
        padding: 0 12px;
        margin: 0 2px;

        &:hover {
          background-color: $bgh;
        }
      }

      & .play {
        background-color: $green;

        & .icon.spotify {
          padding-right: 4px;
        }
      }
    }

    & .position {
      &.horizontal { margin: 0 12px; }
      &.vertical { margin: 0 10px; }

      & trough {
        border-radius: 8px;
        background-color: $bg2;
        min-height: 10px;

        & highlight {
          background-color: $green;
          border-radius: 8px;
        }
      }
    }
  }
}

.time {
  & .current {
    font-size: 24px;
  }

  & .day {
    color: $blue;
    font-size: 24px;
    font-weight: 900;
  }
}

.metric {
  & trough {
    border-radius: 6px;
    background-color: $bg2;
    min-width: 20px;

    & highlight {
      border-radius: 6px;
    }
  }

  & .icon {
    font-size: 28px; padding: 0 1rem 0 0;
  }

  & .cpu.icon { color: $orange; }
  & .cpu_temp.icon { color: $blue; padding-left: 1rem; }
  & .ram.icon { color: $purple; }
  & .brightness.icon { color: $fg; }
  & .music.icon { color: $green; padding-left: 4px; }
  & .volume.icon { color: $aqua; padding-left: 8px; }

  & .cpu trough highlight { background-color: $orange; }
  & .cpu_temp trough highlight { background-color: $blue; }
  & .ram trough highlight { background-color: $purple; }
  & .brightness trough highlight { background-color: $fg; }
  & .music trough highlight { background-color: $green; }
  & .volume trough highlight { background-color: $aqua; }
}
